<%= form_for(@forum_thread) do |f| %>
  <% if @forum_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_thread.errors.count, "error") %> prohibited this forum_thread from being saved:</h2>

      <ul>
      <% @forum_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forum-group">
    <%= f.text_field :subject, placeholder: "Subject",autofocus: true ,class: "form-control"%>
  </div>

  <br>

  <%= f.fields_for :forum_posts do |p| %>
    <div class="form-group">
      <%= p.text_area :body, placeholder: "Add a Post", rows: 10, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
