<div class="container">
<h1 class="text-center"><%= @forum_thread.subject %></h1>
<p class= "text-muted text-center">Created by 
	<% if @forum_thread.owner.username.present? %>
    	<%= @forum_thread.owner.username %></p>
    <% else %>
    	<%= @forum_thread.owner.email %></p>
    <% end %></p>
<div class="col-md-sm-10">
  <%= render @forum_thread.forum_posts %>

<hr/>

</div>
<%= render partial: 'forum_posts/form' %>
<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
<%= link_to 'Delete', forum_thread_path(@forum_thread), method: :delete, data: { confirm: "Are you Sure?" }%> |
<%= link_to 'Back', forum_threads_path %>

</div>
